body {
    /*background:red;*/
}
 #errmsg {
color:red
}



#usrnameLbl, #Password {
    padding-right:30px;
font-size:5px
}

#login_form{
background-color:#eee;
width:450px;
 margin: 0 auto
}

.formGroup
{     
  color:#999;

}

.fa{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}

.form-control{
  width:90%;
  height:25px;
  border:none;
  padding:5px  15px;
 
  background:#fff;
  color:#666;
  border:2px solid #ddd;
  @include border-radius(4px);
    &:focus, &:focus + .fa{
      border-color:#10CE88;
      color:#10CE88;
    }
}
.log-btn{
  background:#0AC986;
  dispaly:inline-block;
  width:100%;
 
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  @include border-radius(4px);
}

